<section class='container mt-5'>
<h1 class='display-3 text-center fw-normal text-danger-emphasis'>
Welcome to Google Scraper!
</h1>
 <% if user_signed_in? %>

<p class='fs-3 text-center  fw-normal text-danger-emphasis  '>
Add a csv file to start scraping!
</p>

<p class='text-center fs-3 text-danger-emphasis '>

<%= link_to 'Click here', new_scrap_path, class: ' text-center text-danger-emphasis ' %> to add a file
</p>


<p class="text-center text-danger-emphasis">
or
</p>

<p class='text-center'>
 <%=link_to 'Click here to see your files', scraps_path, class: 'text-center text-danger-emphasis ' %>

</p>




</div>
<% else %>
<div>
<p class='fs-3 text-center  fw-normal text-danger-emphasis '>
Please sign up or log in to start scraping!

</p>

</div>
<% end %>
</section>


