<h1>
scrappers</h1>


<h1>These are your queries </h1>

<h1>Your Uploaded Keywords</h1>
<ul>
  <% @scraps.each do |scrap| %>
    <li>
      <%= link_to scrap.queries, scrap_path(scrap) %>
    </li>
  <% end %>
</ul>




