<h1>
scrappers</h1>


<% @scraps.each do |scrap| %>
  <h3>Queries and Results for Scrap <%= scrap.id %></h3>

<% scrap.scrap_details.each do |detail|  %>
<%= detail.query%>
<%= detail.stats%>
<%end %>
<% end %>

