<nav class="navbar navbar-expand-lg  navbar-light nav-color">
 <div class="container-fluid">
  <%=link_to 'Scraper ', root_path , class:"navbar-brand text-light"  %>

    
    <% if user_signed_in? %>
      <div class="navbar-nav mx-auto">
      
  
    <%= button_to "Log out",  destroy_user_session_path, method: :delete, class:"btn btn-light fw-normal text-danger-emphasis" %>

   
      </div>
      <% else %>

   <div class="navbar-nav mx-auto">
 
        <%= link_to "Log in", new_user_session_path, class:"btn btn-light fw-normal text-danger-emphasis ms-5" %>
  
   
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light fw-normal text-danger-emphasis ms-5" %>
   
      </div>
      <% end %>
 

 

  </div>
</nav>