<nav class="navbar navbar-expand-lg  navbar-light nav-color">
 <div class="container-fluid">
  <a class="navbar-brand" href="#">Scraper</a>

    
    <% if user_signed_in? %>
      <div class="navbar-nav mx-auto">
      <p class="nav-item">
        <a class="nav-link" href="#">My Scrapes</a>
      </p>
      <button class="nav-item">
    <%= button_to "Log out",  destroy_user_session_path, method: :delete, class:"logout-btn" %>

      </button>
      </div>
      <% else %>

   <div class="navbar-nav mx-auto">
      <button class="nav-item ">
        <%= link_to "Log in", new_user_session_path, class:"btn btn-warning" %>
      </button>
      <button class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning" %>
      </button>
      </div>
      <% end %>
 

 

  </div>
</nav>